{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" style="margin-top: 10px;">
                <select class="form-control" id="contentSelector">
                    <option value="student">STUDENT</option>
                    <option value="courses">COURSES</option>
                    <option value="college" selected>COLLEGE</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <a href="/college" id="addButton">
                <button class="btn btn-danger"  data-target="#editModal" style="background-color: aquamarine; margin-top: 10px;">Add</button>
            </a>
        </div>
    </div>
</div>

<div id="collegeContent">
    <table class="table">		  
        <thead>			
            <tr>			  
    
                <th>College code</th>			  
                <th>College Name</th>			  
            </tr>		  
        </thead>		  
        <tbody>			
            <tr>
                {% for college in college %}			    
                <td>{{ college[1] }}</td>
                <td>{{ college[0] }}</td>
                <td><button class="btn btn-danger">
                    <a href="/delete_college/{{ college[1] }}" style="color: white;">
                        DELETE
                    </a>
                </button>
                    <button class="btn btn-danger"  data-target="#editModal" style="background-color:aquamarine">
                        <a href="/edit_college/{{ college[1] }}" style="color: white;">
                            EDIT
                        </a>
                        
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>		
    </table> 
</div>

<script>
    $(document).ready(function() {
        // Function to show content based on selected option
        $('#contentSelector').change(function() {
            var selectedOption = $(this).val();
            // Hide all content sections
            $('#studentContent, #coursesContent, #collegeContent').hide();
            // Show the selected content section
            $('#' + selectedOption + 'Content').show();
        });
    });
</script>


<script>
    $(document).ready(function() {
        // Function to change the href of the "Add" button based on the selected option
        $('#contentSelector').change(function() {
            var selectedOption = $(this).val();
            var addButton = $('#addButton');
            if (selectedOption === 'student') {
                addButton.attr('href', '/student');
            } else if (selectedOption === 'courses') {
                addButton.attr('href', '/course');
            } else if (selectedOption === 'college') {
                addButton.attr('href', '/college');
            }
        });
    });
</script>
{% endblock %}