{% extends "index.html" %}

{% block content %}
<form id="registrationForm" action="/add_course" method="POST">
    <!-- College Selection -->
    <div class="form-group">
        <label for="college_code">College:</label>
        <select name="college_code" id="college_code" class="form-control" required>
            <option value="">Select your College</option>
            {% for college in college %}
            <option value="{{ college[1] }}">{{ college[1] }}</option>
            {% endfor %}
        </select>
        <span id="collegeError" class="error"></span>
    </div>

    <!-- Course Code -->
    <div class="form-group">
        <label for="course_code">Course Code:</label>
        <input type="text" name="course_code" id="course_code" placeholder="Enter Course Code" class="form-control" required>
        <span id="courseCodeError" class="error"></span>
    </div>

    <!-- Course Name -->
    <div class="form-group">
        <label for="course_name">Course Name:</label>
        <input type="text" name="course_name" id="course_name" placeholder="Enter Course Name" class="form-control" required>
        <span id="courseNameError" class="error"></span>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-warning" onclick="return validateForm();">Submit</button>
</form>
{% endblock %}
