{% extends "sign-in.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="form-group" style="margin-top: 10px;">
            <select class="form-control">
                <option value="value1">STUDENT</option>
                <option value="value2">COURSES</option>
                <option value="value3">COLLEGE</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <button class="btn btn-danger" data-toggle="modal" data-target="#editModal" style="background-color: aquamarine;margin-top: 10px;">Add</button>
    </div>
</div>
<div class="container">
	<div class="row">
        <div class="span12">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query" placeholder="Search">
                    <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
	</div>
</div>


<nav aria-label="Page navigation example" style="">	  	
</nav>
<table class="table" style="">		  
    <thead>			
        <tr>			  

            <th>ID number</th>			  
            <th>First Name</th>			  
            <th>Last Name</th>
            <th>Gender</th>	
            <th>Course</th>
            <th>Year Level</th>
            <th></th>
                    
        </tr>		  
    </thead>		  
    <tbody>			
        <tr>			    
            <td>1</td>			  
            <td>Иванов</td>			  
            <td>Иван</td>
            <td>Иванович</td>
            <td>Активен</td>
            <td>01.03.2020</td>	
            <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#editModal" style="background-color:aquamarine">Edit</button>
            </td>
        </tr>
        <tr>			    
            <td>2</td>			  
            <td>Иванов</td>			  
            <td>Иван</td>
            <td>Иванович</td>
            <td>Активен</td>
            <td>01.03.2020</td>	
            <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#editModal" style="background-color:aquamarine">Edit</button>
            </td>		
        </tr>
        <tr>			    
                <td>3</td>			  
                <td>Иванов</td>			  
                <td>Иван</td>
                <td>Иванович</td>
                <td>Активен</td>
                <td>01.03.2020</td>	
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#editModal" style="background-color:aquamarine">Edit</button>
                </td>		
            </tr>

    </tbody>		
</table>
{% endblock %}