<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Start: injected by Adguard -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- End: injected by Adguard -->

    <link rel="icon" href="../../../../favicon.ico">
    <title>STUDENT INFORMATION SYSTEMS</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark-dark bg" style="background-color: aqua;">
            <a class="navbar-brand" href="#">Student Information System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
            <main class="login-form">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card" style="margin-top: 100px;">
                                <div class="card-header" style ="background-color: rgb(11, 215, 230)">log-in</div>
                                <div class="card-body">
                                    <form method="POST">
                                        <div class="form-group row">
                                            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                            <div class="col-md-6">
                                                <input type="text" id="email_address" class="form-control" name="email-address" required autofocus>
                                            </div>
                                        </div>
            
                                        <div class="form-group row">
                                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                            <div class="col-md-6">
                                                <input type="password" id="password" class="form-control" name="password" required>
                                            </div>
                                        </div>
            
                                        <div class="form-group row">
                                            <div class="col-md-6 offset-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="remember"> Remember Me
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="row">
                                            <div class="col-md-6 offset-md-4">
                                                <a href="/home">
                                                    <button type="button" class="btn btn-primary">
                                                        Log in
                                                    </button>
                                                </a>
                                                
                                                <a href="/sign-up">
                                                    <button type="button" class="btn btn-primary">
                                                        Sign Up
                                                    </button>
                                                </a>
                                            </div>
                                        </div>   
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            </main>
            
                
</body>
</html>
